 {% set url = path('ads_show', {'slug': ad.slug}) %}
        <div class="col-md-5">
          <div class="card bg-light mb-3">
            <div class="card-header text-center">
           {#  {{ ad.rooms }} chambres, <strong>{{ad.price}}&euro; / nuit</strong> <br />#} 
           publié le {{ad.date_pub|date("d/m/Y")}}
            </div>
            <a href="{{ url }}">
               <img src="{{ad.coverImage}}"
                    alt="Image de l'appartement"
                    style="height: 200px; width: 100%; display: block" />
            </a>
            <div class="card-body">
              <h4 class="card-title">
              <a href="{{ url }}">
                {{ad.title}}
              </a>
              </h4>
              <p class="card-text">
                {{ad.introduction}}
              </p>
              <a href="{{ url }}" class="btn btn-secondary">En savoirs plus</a>

                 {% if is_granted("ROLE_ADMIN") or (app.user and app.user == ad.author)  %}
            <a href="{{ path('ads_edit', {'slug': ad.slug}) }}" class="btn btn-secondary">Modifier l'article</a>
<a href="{{ path('ads_delete', {'slug': ad.slug})}}" class="btn btn-danger" onclick="return confirm(`Êtes vous sur de vouloir supprimer l'article : {{ad.title}} ?`)">Supprimer l'article</a>        {% endif %}
            </div>
            
          </div>
        </div>


   